.container {
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    display:inline;
    background: rgb(255, 255, 255);
}

.time{
    font-size: 4rem;
    font-weight: 600;
    background: rgb(254, 254, 254);
}

.greeting{
    font-size: 2rem;
    font-weight: 400;
    background: rgb(255, 255, 255);
}

.componentBackground {
    background: rgb(255, 255, 255);
}